<a href="https://colab.research.google.com/github/ValenC25/Taller-Graficos/blob/main/Ejercicio_Reto_Numpy_Pandas_Titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Problema: Análisis de datos meteorológicos. Con Numpy

Supongamos que tenemos un conjunto de datos meteorológicos que contiene la temperatura por meses máxima en grados Celsius registrada en diferentes ciudades (5 ciudades) durante un año. El objetivo es realizar las siguientes operaciones utilizando NumPy:

Asumiendo que los datos están organizados en un array NumPy llamado temperaturas donde cada fila representa un día y cada columna representa una ciudad diferente

- Encontrar la temperatura máxima registrada en todas las ciudades durante el año.
- Calcular la temperatura promedio diaria para cada ciudad.
- Identificar los meses en los que la temperatura superó los 30 grados Celsius en al menos una ciudad.
- Calcular la cantidad de días de lluvia, si se considera un día de lluvia cuando la temperatura máxima es inferior a 10 grados Celsius.

Las temperaturas son las siguientes:

In [ ]:
import numpy as np
temperaturas =np.array([[26, 28, 30, 29, 27],
              [31, 32, 33, 30, 29],
              [29, 27, 28, 31, 30],
              [32,35,36,23,32],
               [8,12,15,4,8],
               [36,39,25,28,32],
               [23,24,25,35,32],
               [25,34,28,25,22],
               [12,11,14,25,15],
               [26,27,30,31,29],
               [12,8,12,6,9],
               [25,21,27,21,28]])

#temperatura máxima por ciudad
print (np.max (temperaturas, axis = 0))

#temperatura promedio por cada ciudad
print(np.mean(temperaturas, axis = 0))

#mayor a 30 grados celsius
print('La cantidad de meses que supero los 30 grados: ',np.sum(np.sum(temperaturas > 30, axis = 1) >= 1))

#menor a 10 grados celsius, lluvia
print('la cantidad de meses en los que hubo lluvia: ',np.sum(np.sum(temperaturas < 10, axis = 1) >= 1))

[36 39 36 35 32]
[23.75       24.83333333 25.25       24.         24.41666667]
La cantidad de meses que supero los 30 grados:  7
la cantidad de meses en los que hubo lluvia:  2

DataFrames

In [ ]:
import pandas as pd

#crear mi primer DataFrame por diccionario

diccionario = {'Nombre:' : ['Carlos', 'Estiven', 'Diego', 'Marcia'],
               'Apellido: ': ['Henao' ,'Izquierdo','Morales', 'Acosta'],
               'Peso:' :[58,75,70,55]}
mi_dataFrame = pd.DataFrame(diccionario)
mi_dataFrame
#mi_dataFrame['Peso'].mean()
#mi_dataFrame['Peso'].min

#segundo método para construir un DataFrame por listas de listas

mi_lista_lista = [['Carlos', 'Henao' , 58],
                  ['Estiven', 'Izquierdo', 75],
                  ['Diego', 'Morales', 70],
                  ['Marcia', 'Acosta', 55]]

mi_dataFrame2 = pd.DataFrame(mi_lista_lista,
                             columns = ['Nombre','Apellido', 'Peso'], # nombra las filas
                             index= ['ID1', 'ID2', 'ID3', 'ID4'])     # nombrar las columnas
mi_dataFrame2

      Nombre   Apellido  Peso
ID1   Carlos      Henao    58
ID2  Estiven  Izquierdo    75
ID3    Diego    Morales    70
ID4   Marcia     Acosta    55

Carga de archivos

In [ ]:
file_path = '/content/datos_personas.csv'  # carga un archivo de excel
data = pd.read_csv(file_path) # lee y carga el archivo en la extensión csv(es menos pesado que el .xls)
data

FileNotFoundError: [Errno 2] No such file or directory: '/content/datos_personas.csv'

In [ ]:
# Consultar el nombre de las columnas
data.columns    #columns es una atributo del dataFrame van sin los parentesis
print(data.columns)
print(data.shape[0])  #forma de dataFrame muestra la cantidad de filas y columnas
#consulta general
#data.info()

#agregar nueva columna
data['Indice de masa corporal'] = (data['Peso (kg)'] / data['Estatura (m)'] **2).round(3) # round pone 3 decimales
data

In [ ]:
# consultar los primeros  registros
data.head(10)
# consultar los ultimos registros
data.tail(10)

Atributos de consultas

In [ ]:
#métodos de consulta/ muestra la lista vertical
print(data.loc[1,'Edad']) # filas , columas
data.iloc[1,3]
data.iloc[0,3:] # muestra los datos de la fila 0 con las columnas 3 hacia adelante

#muestra la lista horizontal
A = data.iloc[0,3:]
pd.DataFrame([list(A.values)], columns= A.index)

In [ ]:
#Consulta de varias columnas
data2 = data[['Nombre', 'Estatura (m)', 'Edad']]
data2

Filtrado

In [ ]:
data3 = data[(data['Estatura (m)'] > 1.60) & (data['Edad'] > 30)]     #muestra las personas que miden mas de 1.60
data3

Titanic análisis

In [ ]:
import pandas as pd
file_path2 ='/content/Titanic-Dataset.csv'
titanic_data = pd.read_csv(file_path2)
titanic_data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
# Punto 1: mostrar los primeros 5 datos
titanic_data.head(5)

# Punto 2: mostrar los últimos 8 datos con la información
titanic_data.tail(8).info()

#Punto 3: cuantos valores hay en cada columna
#titanic_data[['Age', 'Survived', 'Sex']].value_counts()

#punto 4.1 Cuantas son menor de edad
#print('Cantidad de personas menores de edad: ', ( titanic_data ['Age'] < 18) .sum())
#punto 4.2 Cuantas son mayores de edad
#print('Cantidad de personas mayores de edad: ', ( titanic_data ['Age'] >= 18) .sum())
# Punto 4.3 Cuantas personas sobrevivieron
#(titanic_data['Survived'] == 0).value_counts()
#Punto 5 Valores nulos
#print('EL total de datos nulos es: ',titanic_data.isnull().sum().sum())
#Punto 6 renombrar columnas
diccionario = {'Age' : 'Edad','Sex' : 'Sexo' , 'PassengerId' : 'ID' , 'Survived' : 'Sobrevivente', 'Pclass' : 'Clase' , 'Name' : 'Nombre', 'SibSp' : '#Hermanos' , 'Parch' : 'Padres/Hijos',
              'Ticket' : 'Tiquete', 'Fare' : 'Tarifa' , 'Cabin' : 'Cabina' , 'Embarked' : 'Embarque'}
titanic_data.rename(columns = diccionario, inplace = True) # Se le entrega un diccionario, donde la clave es el nombre anterios y los valores el nuevo nombre, se debe poner el inplace para que cambie los valores
titanic_data

Agrupamiento en Panda

In [ ]:
titanic_data.groupby(['Sexo' , 'Sobrevivente', 'Clase'])['ID'].count()

In [ ]:
#8 agrupar por sexo y clase para determinar cuantos hombre y mujeres hay en cada clase

titanic_data.groupby(['Clase', 'Sexo'])['ID'].count()

#9 Calcular el porcentaje de pasajeros que sobrevivieron en cada clase

mi_series = titanic_data.groupby(['Sobrevivente','Clase'])['ID'].count() # muestra la respuesta horizontal
print(mi_series.values * 100 / mi_series.values.sum())
mi_series

In [ ]:
import numpy as np

mi_series = titanic_data.groupby(['Sobrevivente','Clase'])['ID'].count()
porcentaje = mi_series.values * 100 / mi_series.values.sum()
mi_series = mi_series.reset_index() # lo combierte una serie en  dataframe,
mi_series['Tasa de supervivientes en %'] = porcentaje # muestra el número completo
mi_series['Tasa de supervivientes en %'] = np.round(porcentaje,3) # lo redondea a 3 cifras significativas
mi_series

In [ ]:
#10 comparción de porcentajes
titanic_data.groupby(['Sobrevivente', 'Sexo'])['ID'].count().reset_index()

In [ ]:
mi_Serie = titanic_data.groupby(['Sobrevivente', 'Sexo'])['ID'].count().reset_index() # reset_index muestra el indice de las filas
print(mi_Serie)
porcentajeM = mi_Serie.loc[2, 'ID'] * 100 / (mi_Serie.loc[2,'ID'] + mi_Serie.loc[3, 'ID']) # opción 1
porcentajeM = mi_Serie.loc[2, 'ID'] * 100 / (mi_Serie.loc[2:,'ID'].sum()) # opción 2
print('EL porcentaje de mujeres en comparación con los hombres sobrevivientes es: ', np.round(porcentajeM, 3))

In [ ]:
# Punto 11 edad en promedio de los sobrevivientes y lo no sobrevivientes
titanic_data.select_dtypes(include= np.number).groupby('Sobrevivente' )['Edad'].mean() # se le da la instrucción que incluya solo los datos numericos

In [ ]:
#12 pasajeros menores de edad y cuantos sobrevivieron
titanic_data[titanic_data['Edad'] < 18].groupby('Sobrevivente')['ID'].count() # menores de edad
titanic_data[titanic_data['Edad'] > 50].groupby('Sobrevivente')['ID'].count() # mayores de 50 años

# punto 13 diferencia en el porcentaje de personas que sovrevivieron segun el puerto donde embarcaron
titanic_data.groupby(['Sobrevivente','Embarque'])['ID'].count()